@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

:root {
  --defaultFont: "Poppins", sans-serif;
  --primaryColor: #f5df4e;

  /* Dark color */
  --dark-bg: #000;
  --dark-text: #fff;
  --darkShadowFourSides: 0 0 75px -11px #ffffffa3;

  /* Light color */
  --light-bg: #fff;
  --light-text: #000;
  --lightShadowFourSides: 0 0 75px -11px #000000a3;
}

/* Para o tema escuro do dispositivo */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: var(--dark-bg);
    --text-color: var(--dark-text);
    --shadow-four-sides: var(--darkShadowFourSides);
  }
}

/* Para o tema claro do dispositivo */
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: var(--light-bg);
    --text-color: var(--light-text);
    --shadow-four-sides: var(--lightShadowFourSides);
  }
}

.btn-disabled {
  opacity: 0.4;
  cursor: no-drop;
}
